ipykernel==7.1.0
ipywidgets==8.1.8
langchain==1.2.7
langchain-community==0.4.1
langchain-mcp-adapters==0.2.1
langchain-openai==1.1.7
mcp-server-time==2025.9.25
python-dotenv==1.2.1
scipy==1.17.0
sounddevice==0.5.5
tavily-python==0.7.19